<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.footer{
    width: 100%;
    background-color:#feb902;
}

.footer .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .group-1 .box .info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: #4f2a22;
}

.footer .group-1 .box h2{
    font-size: 21px;
    color: #7f1319;
}

.footer .group-1 .box p{
    color: #4f2a22;
}

.footer .group-1 .box .social-media a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #f8b100;
    text-align: center; 
    transition: all 300ms ease;
}

.footer .group-1 .box .social-media a:hover{
    color: #ab0705;
}

.footer .group-2{
    background-color: #f8b100;
    padding: 15px 10px;
    text-align: center;
    color: #4f2a22;
}
.footer .group-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .footer .group-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    } 
}




















@media only screen and (max-width: 575px){
body {
    margin: 0;
    padding: 0;
}

.footer {
    display: block;
    background: rgb(173,8,3);
    background: linear-gradient(0deg, rgba(173,8,3,1) 0%, rgba(254,185,3,1) 100%);  
    text-transform: uppercase;
}

.about_Footer {
    display: block;
    padding-top: 40px ;
}


.about {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;
    border-radius: 10px;
}

.about-title{
    margin-left: -166px;
}

.span-btn{
    display: flex;
}

.span-btn:hover{
    background-color: #fcb703;
    transition: 1s;
    

}

.social_media {
    display: flex;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
}

.btn-media{
    width: 40px;
    height: 40px;
}


.download{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.download2{
    display: block;
    background: rgb(173,8,3);
    background: linear-gradient(0deg, rgba(173,8,3,1) 0%, rgba(254,185,3,1) 100%);  
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
}


.legal {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
}
.legal-left{
    width: 30%;
}
.legal-right {
    width: 70%;
    display: flex;
    justify-self: right;
    justify-content: space-around;
}











}
=======
* {
  margin: 0;
}
body {
  font-family: sans-serif;
  background-color: #487eb0;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}

#nav-bar {
  background-color: #0984e3;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  height: 60px;
}
.logo {
  margin-left: 15px;
  font-size: 23px;
}
ul li a {
  font-weight: bold;
  padding: 11px;
}

.nav-menu {
  display: flex;
  list-style: none;
  column-gap: 1rem;
}

.nav-menu-item {
  font-size: 15px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  border-radius: 15px;
  padding: 3px;
}
.nav-menu-link:hover {
  background-color: rgba(254, 185, 3, 1);
  transition: 0.5s;
  transition: 0.5s;
}

.register {
  justify-self: center;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 20px;
    font-size: 20px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    list-style: none;
    background-color: #2c3e50;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }
  .nav-menu-link:hover {
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
>>>>>>> navbar
